version: "3.3"

services:
  database: 
    image: postgres
    container_name: desafio-cubos
    restart: always
    ports: 
      - 5432:5432
    environment:
      - POSTGRES_USER=cubos_user
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=cubos_db
      - TZ=America/Sao_Paulo
      - PGTZ=America/Sao_Paulo
    volumes:
      - pgdata:/data/postgres

volumes:
  pgdata:
    driver: local

networks:
  default:
    driver: bridge